.content {
	position: relative;
	text-align: justify;
}

.date {
	color: gray;
	font-size: 1.1em;
}

button {
	font-weight: bold;
}

.love-its {
	font-size: 1.7em;
}

.love-its {
	vertical-align: middle;
}

.heart-icon {
	vertical-align: -0.28em;
}

.thumbsUp {
	vertical-align: 0em;
}

.thumbsDown {
	vertical-align: -4.2px;
}

@media (max-width: 768px) {
	article {
		text-align: center!important;
	}

	article p:nth-of-type(2) {
		text-align: justify!important;
	}
}

@media (min-width: 768px) {
	.date {
		position: absolute;
		top: 1.03rem;
		right: 1.25rem;
	}
}

@media (min-width: 767.98px) {
	#delete-post {
		float: right;
	}
}