.content {
	position: relative;
	text-align: justify;
}

.date {
	color: gray;
	font-size: 1.1em;
}

button {
	font-weight: bold;
}

@media (min-width: 768px) {
	.date {
		position: absolute;
		top: 1.03rem;
		right: 1.25rem;
	}
}